.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.page2_Content {
  font-size: 30px;
  font-weight: 600;
}

.pageTitle {
  margin: 5px;
  padding: 0 35px;
  display: block;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .container {
    padding-bottom: 160%;
  }
}
