.footer {
  height: 20px;
  position: relative;
  bottom: 0;
  width: auto;

  padding: 7px;
  color: black;
  text-align: center;
  background-color: #efefef;
  border-style: none;
}

@media only screen and (max-width: 700px) {
  .footer {
    height: 15px;
    position: relative;
    bottom: 0;
    width: auto;
    padding: 5px;
    color: black;
    text-align: center;
    background-color: #efefef;
    border-style: none;
  }
}
