.App {
  display: flex;
  flex-direction: column;
  margin: 2%;
  border: 1px solid #dadfe3;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px #dadfe3;
  height: auto;
  width: 95vw;
}

@media only screen and (max-width: 700px) {
  .App {
    display: flex;
    border: 1px solid #dadfe3;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #dadfe3;
    height: auto;
    width: auto;
  }
}
